.section_padding{
    padding: 4rem 4rem;
}
.footer{
    background-color:#264653;
}
.sb_footer{
display: flex;
flex-direction: column;
}
.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom:  2rem;
}
.sb_footer-links_div h4{
   font-size: 14px;
   line-height: 17px;
}
.sb_footer-links_div p{
    cursor: pointer;
}
.sb_footer-below-links a{
    cursor: pointer;
}